
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="" class="loginForm1">


      <div class="form-group">
        <label for="emailLoginForm">Adresse email</label>
        <input type="email" id="emailLoginForm" class="form-control" placeholder="Entrer email" formControlName="email">
      </div>

      <div class="form-group">
        <label for="passwordLoginForm">Mot de passe</label>
        <input type="password" id="passwordLoginForm" class="form-control"  placeholder="Mot de passe" formControlName="password">
      </div>

      <div style="text-align: center; margin-bottom: 20px;">
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </div>

      <div style="text-align: center;">
        <a routerLink="/register" >Créer un compte</a>
      </div>

    </form>

  </div>



