.centeringElements {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  /*display: flex;
  flex-wrap: wrap;
  flex-direction: column;*/
  width: 25%;
  align-items: center;
}
